SCRAM-SHA-1(-PLUS) + SCRAM-SHA-256(-PLUS) + SCRAM-SHA-512(-PLUS) + SCRAM-SHA3-512(-PLUS) supports

Dear @pear team,

Can you add supports of :
- SCRAM-SHA-1
- SCRAM-SHA-1-PLUS
- SCRAM-SHA-256
- SCRAM-SHA-256-PLUS
- SCRAM-SHA-512
- SCRAM-SHA-512-PLUS
- SCRAM-SHA3-512
- SCRAM-SHA3-512-PLUS

You can add too:
- SCRAM-SHA-224
- SCRAM-SHA-224-PLUS
- SCRAM-SHA-384
- SCRAM-SHA-384-PLUS

A "big" list has been done in last link of this ticket.

-------------------

SCRAM-SHA-1(-PLUS):
- https://tools.ietf.org/html/rfc5802
- https://tools.ietf.org/html/rfc6120

SCRAM-SHA-256(-PLUS):
- https://tools.ietf.org/html/rfc7677 since 2015-11-02
- https://tools.ietf.org/html/rfc8600 since 2019-06-21: https://mailarchive.ietf.org/arch/msg/ietf-announce/suJMmeMhuAOmGn_PJYgX5Vm8lNA

SCRAM-SHA-512(-PLUS):
- https://tools.ietf.org/html/draft-melnikov-scram-sha-512

SCRAM-SHA3-512(-PLUS):
- https://tools.ietf.org/html/draft-melnikov-scram-sha3-512

SCRAM BIS: Salted Challenge Response Authentication Mechanism (SCRAM) SASL and GSS-API Mechanisms:
- https://tools.ietf.org/html/draft-melnikov-scram-bis

-PLUS variants:
- RFC5056: On the Use of Channel Bindings to Secure Channels: https://tools.ietf.org/html/rfc5056
- RFC5929: Channel Bindings for TLS: https://tools.ietf.org/html/rfc5929
- Channel-Binding Types: https://www.iana.org/assignments/channel-binding-types/channel-binding-types.xhtml
- RFC9266: Channel Bindings for TLS 1.3: https://tools.ietf.org/html/rfc9266

IMAP:
- RFC9051: Internet Message Access Protocol (IMAP) - Version 4rev2: https://tools.ietf.org/html/rfc9051

LDAP:
- RFC5803: Lightweight Directory Access Protocol (LDAP) Schema for Storing Salted: Challenge Response Authentication Mechanism (SCRAM) Secrets: https://tools.ietf.org/html/rfc5803

HTTP:
- RFC7804: Salted Challenge Response HTTP Authentication Mechanism: https://tools.ietf.org/html/rfc7804

JMAP:
- RFC8621: The JSON Meta Application Protocol (JMAP) for Mail: https://tools.ietf.org/html/rfc8621

2FA:
- Extensions to Salted Challenge Response (SCRAM) for 2 factor authentication: https://tools.ietf.org/html/draft-melnikov-scram-2fa

IANA:
- Simple Authentication and Security Layer (SASL) Mechanisms: https://www.iana.org/assignments/sasl-mechanisms/sasl-mechanisms.xhtml

Linked to:
- https://github.com/scram-xmpp/info/issues/1

Presumably @schengawegga has plans to address this?

@ashnazg: Can you add "Issues" section for:
- https://github.com/pear/Net_Sieve
- https://github.com/pear/Mail_IMAPv2
- https://github.com/pear/Net_IMAP
- https://github.com/pear/Net_POP3
- https://github.com/pear/Net_LDAP
- https://github.com/pear/Net_Socket
- https://github.com/pear/Auth_HTTP

A ticket is already done for:
- https://github.com/pear/Net_SMTP
- https://github.com/pear/Net_LDAP2
- https://github.com/pear/Net_SMTP2
- https://github.com/pear/Mail
- https://github.com/pear/Mail2

Others too at the same time?
- https://github.com/pear/Net_DNS
- https://github.com/pear/Net_FTP2
- https://github.com/pear/DB_ldap
- https://github.com/pear/DB_ldap2
- https://github.com/pear/Net_IPv4
- https://github.com/pear/Net_IPv6
- https://github.com/pear/Net_IDNA
- https://github.com/pear/Net_IDNA2
- https://github.com/pear/Auth
- https://github.com/pear/Auth_RADIUS
- https://github.com/pear/HTTP_Upload
- https://github.com/pear/Net_URL2
- https://github.com/pear/Net_SMS
- https://github.com/pear/Net_DNSBL
- https://github.com/pear/Net_GeoIP
- https://github.com/pear/Net_Curl
- https://github.com/pear/Net_Server
- https://github.com/pear/Net_LMTP
- https://github.com/pear/Net_Cyrus
- https://github.com/pear/Net_MPD
- https://github.com/pear/Net_SSH2
- https://github.com/pear/Net_URL
- https://github.com/pear/Net_SMPP
- https://github.com/pear/Net_CheckIP
- https://github.com/pear/Net_CheckIP2
- https://github.com/pear/HTTP_Request
- https://github.com/pear/HTTP_Download2
- https://github.com/pear/HTTP_Client
- https://github.com/pear/HTTP_Server
- https://github.com/pear/PHP_Parser
- https://github.com/pear/Mail_Mbox
- https://github.com/pear/I18N
- https://github.com/pear/I18Nv2
- https://github.com/pear/HTTP_Header
- https://github.com/pear/HTTP_Header2
- https://github.com/pear/HTTP
- https://github.com/pear/HTTP_Session
- https://github.com/pear/HTTP_Url


@Neustradamus If the client uses PEAR/Net_SMTP Version 1.11.0 or higher, PEAR/Mail will support SCRAM-SHA-*, too. Because the SMTP-Driver gives the authentication method directly trough PEAR/Net_SMTP. So as i think, no changes needed to support SCRAM-SHA-* in this package.
@ashnazg Correct me, if i am wrong, please.

@ashnazg: Have you seen the @schengawegga comment?

@Neustradamus @schengawegga , I don't support these packages directly, so I cannot knowledgeably speak to their functionality.

@ashnazg: Thanks for your answer!

Have you looked to harmonize PEAR repositories: my request to detach old original repositories (and in a second case to merge changes from upstream for some cases before to detach too)?